<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    <link rel="stylesheet" href="/static/css/navbar.css" />
    <link rel="stylesheet" href="/static/css/product.css" />
    <script type="module" src="/static/js/cart-logic.js" defer></script>

    <title>E-Watches | Product</title>
  </head>
  <body>
    <!-- Navbar -->
    <header>
      <h1 class="logo"><a href="../../index.html">E-Watches</a></h1>
      <nav class="nav__menu">
        <ul class="nav__menu-items">
          <li class="nav__menu-item active">
            <a href="/Products">Products</a>
          </li>
          <li class="nav__menu-item">
            <a href="/Cart">Cart</a>
            <div class="items" id="numberOfItems"></div>
          </li>
        </ul>
      </nav>
    </header>
    <!-- Product -->
    <div class="container">
      <div class="products__container-item">
        <img src="/static/images/product-5.webp" alt="" />
        <div class="content">
          <p class="title">
            boAt Flash Edition Smartwatch with Activity Tracker,Multiple Sports
            Modes,Full Touch 3.30 cm ( 1.3”) Screen,Gesture Control,Sleep
            Monitor,Camera & Music Control,IP68 Dust,Sweat & Splash
            Resistance(Moon Red)
          </p>
          <div class="star_rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
          <span class="reviews">(3,300 reviews)</span>
          <div class="price">
            <span class="list_price"><sup>₹</sup>1,999</span>
            <span class="mrp">₹6,990</span>
          </div>
          <div class="quantity__container">
            <span>QTY:</span>
            <input type="number" min="1" max="3" value="1" />
          </div>
          <button class="add__btn">Add to cart</button>
          <hr />
          <p class="about__para">About this item</p>
          <ul class="item__desc">
            <li>
              The daily activity tracker records daily steps taken, calories
              burnt and distances covered.;10 active sports modes include:
              running, walking, cycling, climbing, yoga, basketball, football,
              badminton, skipping & swimming.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
